{{!< default}}

<main class="stream">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</main>

<nav class="pagination">
    {{#if pagination.prev}}
        <a href="{{pagination.prev}}">&larr; Newer posts</a>
    {{/if}}
    {{#if pagination.next}}
        <a href="{{pagination.next}}">Older posts &rarr;</a>
    {{/if}}
</nav>
