{{!< default}}

{{#post}}
<main class="stream">
    {{> "post-card"}}
</main>

<nav class="post-nav">
    {{#prev_post}}
        <a class="post-nav-prev" href="{{url}}">&larr; {{title}}</a>
    {{/prev_post}}
    {{#next_post}}
        <a class="post-nav-next" href="{{url}}">{{title}} &rarr;</a>
    {{/next_post}}
</nav>
{{/post}}
