{{!< default}}

{{#tag}}
<header class="page" style="padding-bottom: 0;">
    <div class="page-content">
        <h2>{{name}}</h2>
        {{#if description}}
            <p>{{description}}</p>
        {{/if}}
    </div>
</header>
{{/tag}}

<main class="stream">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</main>

<nav class="pagination">
    {{#if pagination.prev}}
        <a href="{{pagination.prev}}">&larr; Newer posts</a>
    {{/if}}
    {{#if pagination.next}}
        <a href="{{pagination.next}}">Older posts &rarr;</a>
    {{/if}}
</nav>
